body{
    font-family: 'Open Sans', sans-serif;}

nav{
    display: flex;
    justify-content: space-around;
}
nav >ul {
    display: flex;
    align-items:center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}
.btn-primary{/* Group 3 */

    background: #FD6E0A;
    font-size: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    border: 0;
    padding: 15px 35px;
     }

.text-primary{
    color:rgba(253,110,10,1)
}
.nav-title{/* Mary */

    /*position: absolute;
    width: 121px;
    height: 61px;
    left: 226px;
    top: 51px;*/
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    
    /* Dark 01 */
    color: #181818;
    }
    
    /*Header related style */
    .header{
    background-color: rgba(255, 248, 243, 1);
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat:no-repeat ;
    background-position: bottom right,left;
    }

    .banner{
        padding: 30px 70px 0px 150px;
        display: flex;
        align-items: center;
    }
    .banner-greeting{
        font-size: 45px;
        color: #474747;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .banner-title{
        font-size: 85px;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;

    }

    /*main section styles*/
    .about{
        padding: 131px;
        background-color:rgba(255, 248, 243, 1);
        margin: 130px;
        align-items: center;
        
    }
    main section{
        padding-top: 30px;
    }
    .section-title{

font-weight: 700;
text-align: center;
color: #181818;
margin-top: 100px;
 }
.section-description
{

text-align: center;
color: #757575;
}
    /*about section styles*/
    main{
        max-width: 1140px;
        max-height: 550px;
        margin: auto auto;
    }
    .about-info-container{
        display:flex;
        justify-content: space-between;
    }
    .about-info{
        text-align: center;
    }

    /* skills related styles*/
    #what-i-do-description{
        padding: 30px 170px;
    }
    .skills-container{
        display:flex;
        gap: 24px;
    }
    .skill{
        padding: 30px;
        background: #FFFFFF;
        box-shadow: 1px 5px 7px 0px;
        
    }
    .skill-description{
        color:#757575
    }
    /*Resume section styles*/
    .my-resume-title{
        color:#474747;
        font-weight: 700;
        font-size: 60px;
    }
    .resume-column-container{
        display: flex;
        gap: 50px;
    }
    .resume-column-container hr{
        margin: 30px,0px;
    }
    .resume-item-institute, .resume-item-description{
        color: #757575;
        margin-top: 0px;
    }
    .resume-item-title{
        color: #474747;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    .resume-item-description{
        margin-bottom: 30px;
    }
    .download-cv{
        text-align: center;
    }
    /*footer style*/
    .footer{
        display: flex;
        gap: 100px;
        background-color:rgba(255, 248, 243, 1);
        padding:130px 150px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .footer-column{
        width: 50%;
}

.contact input[type="text"],.contact input[type="email"],textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    color:#757575;
    background-color: #FFFFFF;
    border: 0;
    width: 100%;

}
